* {
    font-family: 'Roboto', sans-serif;
  }
  .pr {
    position: relative;
    left: -400px;
  }
  a:hover {
    text-decoration: none;
  }
  .fImg {
    position: absolute;
    left: 0px;
  }
  .backButt {
    position: absolute;
    left: 89.93px;
    right: 91.93%;
    top: 
    59.63px;
    bottom: 94.03%;
    width: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    
    color: #104FAC;
    
  }
  .titlePremium {
    position: absolute;
    left: 
    858px;
    right: 44.69%;
    top: 
    163.9px;
    bottom: 85.93%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    
    
    color: #104FAC;
  }
  .getPremium {
    position: absolute;
    left: 
    104.14px;
    right: 51.82%;
    top: 406.03px;
    bottom: 71.02%;
    width: 821px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */
    
    
    color: #104FAC;
    
  }
  .buyNow {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
    text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.25);
    position: absolute;
    left: 104.14px;
    right: 76.15%;
    top: 
    482.83px;
    bottom: 65.06%;
    width: 353.78px;
    height: 70.69px;
    border: none;
    background: #1E90FF;
    box-shadow: 0px 1px 4px rgba(30, 144, 255, 0.5);
    border-radius: 50px;  
}
  .langaBuyNow {
    position: absolute;
    left: 
    496.66px;
    right: 63.77%;
    top: 
    494.68px;
    bottom: 65.8%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    
    
    color: #1E90FF;
    
  }
  .bgD {
    position: absolute;
    left: 104.14px;
    right: 58.35%;
    top: 
    679.27px;
    bottom: 45.83%;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(30, 144, 255, 0.5);
    border-radius: 20px;
    width: 695.59px;
    height: 
    178.71px;
  }
  .bgDoi {
    position: absolute;
    left: 
    155.56px;
    right: 85.76%;
    top: 
    717.01px;
    bottom: 48.22%;
    
   
  }
  .bgTitl {
    position: absolute;
    left: 
    358.73px;
    right: 58.57%;
    top: 721.63px;
    bottom: 48.51%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    
    color: #104FAC;
    width: 
    436.79px;
  }
  .bgT {
    position: absolute;
    left: 
    1607.58px;
    right: -19.96%;
    top: 680.73px;
    bottom: 45.74%;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(30, 144, 255, 0.5);
    border-radius: 20px;
    width: 310px;
    height: 178.71px;
  }
  .imgSs {
    position: absolute;
    left: 1650px;
    right: 7.27%;
    top: 720px;
    bottom: 48.84%;
    
  }
.sellCCC {
    position: absolute;
left: 
1780px;
right: -5.32%;
top: 
746.58px;
bottom: 49.9%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
/* identical to box height */


color: #1E90FF;
}
.finalZ {
    position: absolute;
left: 
61.83px;
right: 89.7%;
top: 
1481.22px;
bottom: 3.52%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
/* identical to box height */


color: #1E90FF;
}
.needOChestie {
    position: absolute;
    left: 278.91px;
    right: 51.62%;
    top: 1058.89px;
    bottom: 30.18%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    width: 
    650px;
    
    color: #104FAC;
}
.learnMoreChestie {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    /* identical to box height */
    
    width: 
    375.27px;
    height: 72.03px;
    background-color: transparent;
    color: #1E90FF;
    position: absolute;
left: 278.91px;
right: 65.93%;
top: 
1125.57px;
bottom: 24.39%;

border: 1px solid #1E90FF;
box-sizing: border-box;
border-radius: 50px;
}